* {
    margin: 0;
    padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game-information {
    display: flex;
    flex-direction: column;
}

#game-information div {
    width: 300px;
    text-align: center;
}