* {
    margin: 0;
    padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #16161d;
    background-color: #e9e9e2;   
}

#game-information {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#game-information div {
    width: 500px;
    text-align: center;
}

#message {
    font-size: 24px;
}

#scores {
    font-size: 36px;
}

h1 {
    font-size: 60px;
}

#buttons-container {
    display: flex;
    gap: 22px;
}